altair==5.5.0
annotated-types==0.7.0
astroid==3.3.10
attrs==25.3.0
black==25.1.0
blinker==1.9.0
cachetools==5.5.2
certifi==2025.4.26
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
coverage==7.9.1
dependency-injector==4.48.0
dill==0.4.0
distlib==0.3.9
docopt==0.6.2
filelock==3.18.0
freezegun==1.5.2
gitdb==4.0.12
GitPython==3.1.44
identify==2.6.12
idna==3.10
iniconfig==2.1.0
isort==6.0.1
Jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
mypy==1.8.0
mypy_extensions==1.1.0
nanoid==2.0.0
narwhals==1.42.1
nodeenv==1.9.1
numpy==1.26.4
packaging==23.2
pandas==2.3.0
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.8
plotly==6.1.2
pluggy==1.6.0
pre_commit==4.2.0
protobuf==4.25.8
pyarrow==20.0.0
pydantic==2.11.7
pydantic_core==2.33.2
fastapi==0.115.13
uvicorn==0.32.0
python-multipart==0.0.18
pydeck==0.9.1
Pygments==2.19.1
pylint==3.3.7
pytest==8.4.0
pytest-cov==6.2.1
pytest-watch==4.2.0
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.4
rich==13.9.4
rpds-py==0.25.1
six==1.17.0
smmap==5.0.2
streamlit==1.45.1
tenacity==8.5.0
toml==0.10.2
tomlkit==0.13.3
tornado==6.5.1
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.31.2
watchdog==6.0.0
flake8==7.3.0
flake8-cognitive-complexity==0.1.0
bandit==1.7.9
pip-audit==2.9.0
import-linter==1.12.1
pydocstyle==6.3.0
docstr-coverage==2.3.2
